.accout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.accout-logo {
    width: 103px;
    margin-bottom: 20px;
    margin-left: 110px;
    cursor: pointer;
}
.accout-form {
    border: 1px solid gainsboro;
    padding: 30px;
    width: 350px;
}
.accout-form h4 {
    font-size: 30px;
    font-weight: 400;
}
.accout-form .accout-input label {
    font-size: 14px;
    font-weight: 500;
}
.accout-form .accout-input input {
    width: 100%;
    height: 30px;
}
.accout-form .accout-input span {
    font-size: 12px;
    margin-bottom: 15px;
}
.accout-form button {
    border: 1px solid gray;
    width: 100%;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    margin-top: 20px;
    background-image: linear-gradient(to top, rgb(247, 177, 49), rgb(241, 200, 124));
    cursor: pointer;
}
.accout-form button:hover {
    background-image: linear-gradient(to top, rgb(235, 162, 27), rgb(238, 191, 105));
}
.accout-form p {
    margin-top: 20px;
    font-size: 12px;
}
.accout-form p span {
    color: dodgerblue;
    cursor: pointer;
}
.accout-form p span:hover {
    text-decoration: underline;
}
.accout-form .create-accout p {
    font-size: 13px;
}
.accout-icons {
    position: relative;
    top: 3px;
}
